body, html {
    margin: 0;
    padding: 0;
    min-height: 100%;
    height: 100%;
    background-color: #1d1d23;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

#speed {
    color: #fff;
    position: absolute;
    top: 0;
    left: 3px;
}

#cadence {
    color: #fff;
    position: absolute;
    top: 30px;
    left: 3px;
}

#version {
    color: #666;
    position: absolute;
    top: 0;
    right: 3px;
}
